﻿@model ElasticSearch.Sample.Web.Models.HomeIndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Elastic Search Sample</h1>
</div>
@using (@Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "searchForm" }))
{
    @Html.HiddenFor(x => x.PageNumber);
    @Html.HiddenFor(x => x.PageSize);
    <div class="form-group">
        <label for="ProductName">Search query</label>
        @Html.TextBoxFor(x => x.ProductName, new { @class = "form-control", placeholder = "Enter search query" })
    </div>
    <div class="form-group input-group-sm">
        From:
        @Html.EditorFor(model => model.OrderDateFrom, new { htmlAttributes = new { id = "datepicker", @class = "form-control" } })
        To:
        @Html.EditorFor(model => model.OrderDateTo, new { htmlAttributes = new { id = "datepicker", @class = "form-control" } })
    </div>
    <input type="submit" value="Search" class="btn btn-primary" />
}
<table class="table table-responsive">
    <tr>
        <th>Photo</th>
        <th style="min-width:200px">ProductName</th>
        <th style="min-width:200px">ResellerName</th>
        <th style="min-width:400px">ProductDescription</th>
        <th>SalesOrderNumber</th>
        <th>OrderDate</th>
    </tr>

    @foreach (var resellerSale in Model.ResellerSales)
    {
        <tr>
            <td><img width="150" src="data:image/png;base64,@resellerSale.LargePhoto"></td>
            <td>@resellerSale.ProductName</td>
            <td>@resellerSale.ResellerName</td>
            <td>@resellerSale.ProductDescription</td>
            <td>@resellerSale.SalesOrderNumber</td>
            <td>@resellerSale.OrderDate</td>
        </tr>
    }
</table>
<div>
    <ul class="pagination">
        @for (var i = 1; i <= Model.TotalPages; i++)
        {
            if (i < Model.PageNumber + 5 || i == Model.TotalPages)
            {
                <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                    <a onclick="clickPage(@i)" class="page-link">@i</a>
                </li>
            }

        }
    </ul>
</div>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
    function clickPage(pageNumber) {
        document.getElementById('PageNumber').value = pageNumber;
        document.getElementById('searchForm').submit();
    }
    $(function () {
        $("#datepicker").datepicker();
    });
</script>